body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  position: relative;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 2rem;
  }
}

.jumbotron {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
  color:#206a5d;
  background-color: #bfdcae;
  justify-content: center;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 400;
}
.jumbotron p {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 50rem;
}
.py-5{
  margin-top: 0;
}
#listCat {
  height: 25rem;
}
#listDesc {
  height: 25rem;
  position: relative;
}
.card{
  color:#206a5d;
  
}
.card-body ul{
  list-style: none;
  
}